.l-grid-navigation.m-navigation.bg-navy.txt-white
  .l-grid-navigation-logo.m-align-item-center
    HelloWorld
  .l-grid-navigation-buttons.m-align-item-center
    #SignInButton.m-navigation-button
      SignIn
    #SignUpButton.m-navigation-button
      SignUp
